#c1{
    background-color:cornflowerblue;
}
#c2 {
    background-color: aqua;
}
#c3 {
    background-color: aquamarine;
}
#c4 {
    background-color: beige;
}
#c5{
    background-color: bisque;
}
#c6 {
    background-color: blanchedalmond;
}
